<div class="backgroundlanding" style="background-image: url('<%= image_path 'today-pink-is-my-mood.jpg' %>');">
  <div class="logo">

      <%= image_tag 'logo.png'%>


  </div>


  <div class="col-sm-8">
    <div class="banner">
    <div class="banner-content">
      <h2>Le rendez-vous entre votre marque et les femmes</h2>
      <h4>Eva Media propose des solutions divertissements et des opportunités marketing dans des salons de beautés à Paris</h4>

    </div>
  </div>
  </div>




  <div class="col-sm-4">
    <div class="boxform">
      <div class="column-form">
        <%= simple_form_for(@prospectt) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <div class="col-xs-6">
              <%= f.input :first_name, label: 'Prénom' %>
              <%= f.input :company, label: 'Entreprise' %>

            </div>
            <div class="col-xs-6">
              <%= f.input :last_name, label: 'Nom' %>
              <%= f.input :job_title, label: 'Poste' %>
            </div>
            <div class="col-xs-12">
              <%= f.input :mail, label: 'Adresse email' %>
              <%= f.input :phone, label: 'Téléphone' %>
            </div>

          </div>

          <div class="form-actions btn-treehouse">
            <center><%= f.submit "Envoyer", class: "btn btn-primary" %></center>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
<center>
<div class="container" data-reactid="121">
  <div class="col-xs-12 text-xs-center" data-reactid="122">
    <h3 class="text-thin" data-reactid="123">Pourquoi annoncer dans nos salons?</h3><br></br>
  </div>
  <div class="row" data-reactid="124">
    <div class="col-xs-12" data-reactid="125">
      <ul class="list-unstyled m-b-0 row justify-center justify-start-lg text-xs-center" data-reactid="126">
        <li class="col-md-4" data-reactid="127">
          <img src="<%= image_path 'television.png' %>" alt="Publicités pour femmes" style="width: 50px;" data-reactid="128">
          <h4 data-reactid="129">Une mémorisation record</h4>
          <p data-reactid="130">45 minutes de relaxation, sans distraction  propice à la mediation de votre message</p>
        </li>
        <li class="col-md-4" data-reactid="131">
          <img src="<%= image_path 'growth.png' %>" alt="Espace média rentable" style="width: 50px;" data-reactid="132">
          <h4 data-reactid="133">Maximiser votre ROI</h4>
          <p data-reactid="134">Un CPM attractif, zéro frais de mise en service et un suivi de vos performances en temps réel.</p>
        </li>
        <li class="col-md-4" data-reactid="135">
          <img src="<%= image_path 'hand-shake.png' %>" alt="" style="width: 50px;" data-reactid="136">
          <h4 data-reactid="137">Un partenaire à votre écoute</h4>
          <p data-reactid="138">Plus qu'un simple fournisseur d'espace média, nous vous accompagnons dans l'integration dans notre réseau.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
</center>
<br></br>
      <div class="footer">
  <div class="footer-links">
    <a href="#">Cgv</a>
  </div>
  <div class="footer-copyright">
    Copyright Louna Media Paris
  </div>
</div>


