<!-- <p id="notice"><%= notice %></p> -->
<center>
  <h1>Tableau de bord</h1>

  <table>
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Entreprise</th>
        <th>Poste</th>
        <th>Téléphone</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @prospectts.each do |prospectt| %>
        <tr>
          <td><% if prospectt.present? %><%= prospectt.first_name %> <% else %> <% end %></td>
          <td><% if prospectt.present? %><%= prospectt.last_name %> <% else %> <% end %></td>
          <td><% if prospectt.present? %><%= prospectt.mail %> <% else %> <% end %></td>
          <td><% if prospectt.present? %><%= prospectt.company %> <% else %> <% end %></td>
          <td><% if prospectt.present? %><%= prospectt.job_title %> <% else %> <% end %></td>
          <td><% if prospectt.present? %><%= prospectt.phone %> <% else %> <% end %></td>
          <td><%= link_to 'Edit', edit_prospectt_path(prospectt) %></td>
          <td><%= link_to 'Destroy', prospectt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</center>

